
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
;

/*공통*/

body{font-family:'Noto Sans KR',sans-serif;}
ul{padding:0;}
ul li{list-style:none;}
a{outline:none;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}

.wrap{width:1200px;margin:auto;}
.container{padding-left:40px;}
.page_title{font-size:17px;color:#333;position:relative;height:54px;margin-top:0;padding:0 20px;border:1px solid #c9c9c9;background:url('/sybang/images/bg_title.jpg') repeat-x left bottom;font-weight:bold;line-height:54px;letter-spacing:-1px;}
.sub_title{font-size:18px;padding:15px 0 5px;}
.sub_title.type2{background:#F5F5F5;line-height:30px;position:relative;padding:10px 15px;box-sizing:border-box;margin:15px 0 5px;border:1px solid #E5E6E8;font-size:14px;}
.sub_title.type2 span{color:tomato;}
#panel{background:#f7f7f7;border:1px solid #c9c9c9;}
.page_noti{width:100%;background:#fff;padding:10px 0;border:1px solid #c9c9c9;background:url('/sybang/images/bg_title.jpg') repeat-x left bottom;background-size:auto 100%;}
.admin_style_01{width:100%;border:1px solid #c9c9c9;border-collapse:collapse;}
.admin_style_01 select{appearance:none;-webkit-appearance:none;-moz-appearance:none;border-radius:0px; border:1px solid #c4c4c4;box-sizing:border-box;color:#2e2e2e;font-size:15px;background:#fff url("/css/images/ico_select.gif") no-repeat scroll right center;height:33px;line-height:20px;padding-right:30px;padding-left:3px; text-align:left;width:100%;vertical-align:middle;}
.admin_style_01 .wauto select{width:auto;}
.admin_style_01 select::-ms-expand{ display:none;}
.admin_style_01 textarea{border:1px solid #c9c9c9;width:100%;height:350px;resize:none;padding:10px;}
.admin_style_01 td , .admin_style_01 th{border:1px solid #c9c9c9;padding:8px;color:#000;font-size:13px;background:#fff;}
.admin_style_01 th{text-align:left;background:#f0f0f0;color:#000;font-size:14px;}
.admin_style_01 input[type='text']{height:33px;color:#000;box-sizing:border-box;padding:0 10px;border:1px solid #c9c9c9;}
.admin_style_01 input[type='file']{width:100%;height:auto !important;padding:5px !important;}
.admin_style_01 input.box{height:33px;color:#000;box-sizing:border-box;padding:0 10px;border:1px solid #c9c9c9;box-sizing:border-box;}

.admin_style_02 {width:100%; border:1px solid #c9c9c9; border-collapse:collapse; text-align:center;}
.admin_style_02 td , .admin_style_02 th {border:1px solid #c9c9c9; color:#000; font-size:13px; background:#fff;padding:15px;}
.admin_style_02 th { border: 1px solid #c9c9c9; background: url('/sybang/images/bg_title.jpg') repeat-x left bottom #f0f0f0; background-size:auto 100%; color:#000; font-size:14px;text-align:center;}
.admin_style_02 select {appearance: none; -webkit-appearance: none; -moz-appearance: none; border-radius:0px;  border: 1px solid #c4c4c4; box-sizing: border-box; color: #2e2e2e; font-size: 15px; background: #fff url("/css/images/ico_select.gif") no-repeat scroll right center; height: 33px; line-height: 20px; padding-right:30px; padding-left:3px;  text-align: left; width: 100%;vertical-align:middle;}
.admin_style_02 select::-ms-expand { display: none; }
.admin_style_02 input[type='text'] {height:33px; color:#000; box-sizing:border-box; padding:0 2px; border:1px solid #c9c9c9;text-align:left;}
.admin_style_02 input[type='file'] {width:100%;height:auto !important;padding:5px !important;}
.admin_style_02 textarea {border:1px solid #c9c9c9;}
.admin_style_02.hoverstyle td,.admin_style_02.hoverstyle th{background:none;}
.admin-color-text{color:#3191b7 !important;}
.admin_tip{background:#F5F5F5;line-height:30px;position:relative;padding:10px 15px;box-sizing:border-box;margin-top:35px;border:1px solid #E5E6E8;}
.admin_tip.type2{padding:0;}
.admin_tip:before{content:"";display:inline-block;border-bottom:8px solid rgba(0,0,0,0);border-left:8px solid #FF8B33;background:none;vertical-align:middle;position:absolute;top:-8px;left:20px;}
.admin_tip:after{content:"tip";display:inline-block;line-height:17px;height:19px;padding:0 8px;border-radius:3px;background:#FF8B33;color:#fff;position:absolute;left:0;top:-24px;font-size:12px;}

/* header-cklee */
.header-cklee{width:1200px;margin:auto;font-size:14px;letter-spacing:-1px;}
.header-cklee .navbar{min-height:80px;}
.header-cklee #logo{height:50px;}
.header-cklee .navbar-nav > li > a{padding-top:20px;padding-bottom:20px;line-height:40px;padding-right:20px;padding-left:20px;font-size:1.3em;}
.header-cklee .navbar-nav > li:nth-child(1) > a{margin-left:90px;}
.header-cklee .navbar-nav > li:nth-child(n+8) > a{color:#444;font-size:1em;}
.header-cklee .navbar-text{margin-top:30px;margin-bottom:30px;margin-right:10px;}  
.header-cklee .navbar-link{color:#486BB8;font-weight:bold;}
.header-cklee .navbar-link:hover,
.header-cklee .navbar-link:foucs{color:#486BB8;text-decoration:none;}

/* footer-cklee */
.footer-cklee{text-align:center;}
.footer-cklee #footer-text{float:none;}
.footer-cklee > .p-link > a{margin-left:10px;margin-right:10px;}

/*사이트 환경설정*/






















