@import	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/*공통*/

body{font-family:'Noto Sans KR',sans-serif;}
ul{padding:0;}
ul li{list-style:none;}
a{outline:none;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
label{margin-bottom:0}

.wrap{width:1200px;margin:auto;overflow:hidden;}

.conWrap{position:relative;right:0;margin-left:180px;padding-left:15px;}
.conWrap .btnWrap{padding-top:15px;text-align:center;}
.conWrap .pagebar{position:relative;text-align:center;}
.conWrap .pagination{margin:20px 0 0}
.conWrap .page_title{font-size:17px;color:#333;position:relative;height:54px;margin-top:0;padding:0 20px;border:1px solid #c9c9c9;background:url('/sybang/images/bg_title.jpg') repeat-x left bottom;font-weight:bold;line-height:54px;letter-spacing:-1px;}
.conWrap .sub_title{font-size:18px;padding:15px 0 5px;}
.conWrap .sub_title:before{content:">";font-size:12px;color:#3191b7;padding-right:5px;vertical-align:top;line-height:25px;}
.conWrap .sub_title.t2{background:#F5F5F5;line-height:30px;position:relative;padding:10px 15px;box-sizing:border-box;margin:15px 0 5px;border:1px solid #E5E6E8;font-size:14px;}
.conWrap .sub_title.t2:before{line-height:30px}
.conWrap .sub_title.t2 span{color:tomato;font-weight:bold;}

.admin_style_01{width:100%;border:1px solid #c9c9c9;border-collapse:collapse;}
.admin_style_01 select{appearance:none;-webkit-appearance:none;-moz-appearance:none;border-radius:0px; border:1px solid #c4c4c4;box-sizing:border-box;color:#2e2e2e;font-size:15px;background:#fff url("/css/images/ico_select.gif") no-repeat scroll right center;height:33px;line-height:20px;padding-right:30px;padding-left:3px; text-align:left;width:100%;vertical-align:middle;}
.admin_style_01 .wauto select{width:auto;}
.admin_style_01 select::-ms-expand{ display:none;}
.admin_style_01 textarea{border:1px solid #c9c9c9;width:100%;height:350px;resize:none;padding:10px;}
.admin_style_01 td , .admin_style_01 th{border:1px solid #c9c9c9;padding:8px;color:#000;font-size:13px;background:#fff;}
.admin_style_01 th{text-align:left;background:#f0f0f0;color:#000;font-size:14px;}
.admin_style_01 input[type='text']{height:33px;color:#000;box-sizing:border-box;padding:0 10px;border:1px solid #c9c9c9;}
.admin_style_01 input[type='file']{width:100%;height:auto !important;padding:5px !important;}
.admin_style_01 input.box{height:33px;color:#000;box-sizing:border-box;padding:0 10px;border:1px solid #c9c9c9;box-sizing:border-box;}

.admin_style_02 {width:100%; border:1px solid #c9c9c9; border-collapse:collapse; text-align:center;}
.admin_style_02 td , .admin_style_02 th {border:1px solid #c9c9c9; color:#000; font-size:13px; background:#fff;padding:15px;}
.admin_style_02 th { border: 1px solid #c9c9c9; background: url('/sybang/images/bg_title.jpg') repeat-x left bottom #f0f0f0; background-size:auto 100%; color:#000; font-size:14px;text-align:center;}
.admin_style_02 select {appearance: none; -webkit-appearance: none; -moz-appearance: none; border-radius:0px;  border: 1px solid #c4c4c4; box-sizing: border-box; color: #2e2e2e; font-size: 15px; background: #fff url("/css/images/ico_select.gif") no-repeat scroll right center; height: 33px; line-height: 20px; padding-right:30px; padding-left:3px;  text-align: left; width: 100%;vertical-align:middle;}
.admin_style_02 select::-ms-expand { display: none; }
.admin_style_02 input[type='text'] {height:33px; color:#000; box-sizing:border-box; padding:0 2px; border:1px solid #c9c9c9;text-align:left;}
.admin_style_02 input[type='file'] {width:100%;height:auto !important;padding:5px !important;}
.admin_style_02 textarea {border:1px solid #c9c9c9;}
.admin_style_02.hoverstyle td,.admin_style_02.hoverstyle th{background:none;}
.admin-color-text{color:#3191b7 !important;}
.admin_tip{background:#F5F5F5;line-height:30px;position:relative;padding:10px 15px;box-sizing:border-box;margin-top:35px;border:1px solid #E5E6E8;}
.admin_tip.type2{padding:0;}
.admin_tip:before{content:"";display:inline-block;border-bottom:8px solid rgba(0,0,0,0);border-left:8px solid #FF8B33;background:none;vertical-align:middle;position:absolute;top:-8px;left:20px;}
.admin_tip:after{content:"tip";display:inline-block;line-height:17px;height:19px;padding:0 8px;border-radius:3px;background:#FF8B33;color:#fff;position:absolute;left:0;top:-24px;font-size:12px;}

.radio label, .checkbox label{padding-left:15px;}
.checkbox label:after, 
.radio label:after {content:'';display:table;clear:both;}
.checkbox .cr,
.radio .cr {position:relative;display:inline-block;border:1px solid #a9a9a9;border-radius:.25em;width:1.3em;height:1.3em;display:inline-block;margin-right:5px;}
.radio span{vertical-align:middle;}
.radio .cr {border-radius:50%;}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {position:absolute;font-size:.8em;line-height:0;top:55%;left:15%;}
.radio .cr .cr-icon {margin-left:0.04em;}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {display:none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {transform:scale(3) rotateZ(-20deg);opacity:0;transition:all .3s ease-in;}
.checkbox label input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr{border-color:#486BB8;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {transform:scale(1) rotateZ(0deg);opacity:1;}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {opacity:.5;}

.funkyradio label{box-sizing:border-box;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.funkyradio input[type="checkbox"]:empty{position:absolute;left:-9999px;}
.funkyradio input[type="checkbox"]:empty ~ span{display:inline-block;width:20px;height:20px;line-height:18px;border:1px solid #ddd;}
.funkyradio input[type="checkbox"]:empty ~ span:before{content:'\2714';font-size:14px;color:#C2C2C2;}
.funkyradio input[type="checkbox"]:not(:checked) ~ span{background:#eee;border:1px solid #ddd;}
.funkyradio input[type="checkbox"]:checked ~ span{background:#337ab7;}
.funkyradio input[type="checkbox"]:checked ~ span:before{color:#fff;}

/* datepicker */
.date_span, .date_span2 {display: inline-block; cursor: pointer; width: 50px; height: 33px; border: 1px solid #c4c4c4; text-align: center; font-size: 12px; color: #807a7a; line-height: 33px; box-sizing: border-box; background-color: #fff; vertical-align: middle;}
.date_span.on, .date_span2.on {border: 1px solid #32bfda; color: #32bfda;}
.input_wrap {display: inline-block; border: 1px solid #cdcdcd; width: 116px;}
.border_input {width:70px; border:none!important; border-right:1px solid #cdcdcd!important; background-color:#fff;}

.header-cklee{width:1200px;margin:auto;font-size:14px;letter-spacing:-1px;}
.header-cklee .navbar{min-height:80px;}
.header-cklee #logo{height:50px;}
.header-cklee .navbar-nav > li > a{padding-top:20px;padding-bottom:20px;line-height:40px;padding-right:20px;padding-left:20px;font-size:1.3em;}
.header-cklee .navbar-nav > li:nth-child(1) > a{margin-left:90px;}

.header-cklee .navbar-nav > li:nth-child(8) > .dropdown-menu{min-width:100px;}
.header-cklee .navbar-nav > li:nth-child(n+8) > a{color:#486BB8;font-size:0.8em;padding:20px 10px;}
.header-cklee .navbar-nav > li:nth-child(7) > a{margin-right:50px;}
.header-cklee .navbar-default .navbar-nav > .open > a, 
.header-cklee .navbar-default .navbar-nav > .open > a:hover, 
.header-cklee .navbar-default .navbar-nav > .open > a:focus{color:#486BB8;}
.header-cklee .navbar-nav > li:nth-child(8) > .dropdown-menu {min-width: 100px;}
.header-cklee .navbar-nav > li:nth-child(n+8) > a {color: #486BB8;font-size: 0.8em;padding: 20px 10px;}
.header-cklee .navbar-nav > li:nth-child(7) > a {margin-right: 50px;}
.header-cklee .navbar-default .navbar-nav > .open > a, .header-cklee .navbar-default .navbar-nav > .open > a:hover, .header-cklee .navbar-default .navbar-nav > .open > a:focus {color: #486BB8;}

.footer-cklee{text-align:center;}
.footer-cklee #footer-text{float:none;}
.footer-cklee > .p-link > a{margin-left:10px;margin-right:10px;}





/*회원목록*/

.memberList .btnWrap,
.member_detail_B .btnWrap{position:absolute;right:0;top:0;padding-top:20px}
.memberList table:nth-of-type(1) + .btnWrap,
.member_detail_B table:nth-of-type(1) + .btnWrap{position:static}




















