ul{padding:0;}
ul li{list-style:none;}
a{outline:none;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}

.container{margin-left:180px;min-height:600px;}

.left_menu{float:left;width:180px;border-right:1px solid #ddd;}
.left_menu li{line-height:28px;}
.left_menu li ul{display:none;text-indent:15px;}

