@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	position: relative;
	left: 0;
	top: 0;
	/* min-height: 100%; */
}

.board-container {
	padding: 20px;
	width: 1000px;
	/* overflow-y: scroll; */
	margin: 30px auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
	height: 100%;
}

.board-container .btn1 {
	float: right;
	margin-bottom: 15px;
	margin-right: 40px;
}

.board-container .btn2 {
	margin-right: 35px;
	margin-bottom: 15px;
}

/* 글 내용 */
.board-container .tbl-content {
	width: 900px;
	height: 300px;
	font-size: 1.2em;
	margin: 15px auto;
}

/* 댓글 */
.board-container .tbl-comment {
	width: 850px;
	height: auto;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 1em;
}

.board-container .divider {
	width: 230px;
	height: 4px;
	background: #486BB8;
	margin-left: 15px;
	margin-top: 0px;
}

.blue {
	color: #486BB8;
}

#content-profile {
	height: 40px;
	font-size: 0.85em;
}

#content-title {
	padding-left: 20px;
}

#content-content {
	padding: 20px;
}