@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.board-container {
	padding: 20px;
	width: 1000px;
	margin: 20px auto;
	height: 750px;
}

.board-container .btn1 {
	float: right;
	margin-bottom: 15px;
	margin-right: 40px;
}

.board-container .btn2 {
	margin-right: 35px;
	margin-bottom: 15px;
}

.board-container .tbl-content {
	width: 900px;
	height: 300px;
	font-size: 1.2em;
	margin: 15px auto;
}

.board-container .tbl-comment {
	width: 900px;
	margin: 15px auto;
	font-size: 1em;
}

.board-container .divider {
	width: 230px;
	height: 4px;
	background: #486BB8;
	margin-left: 15px;
	margin-top: 0px;
}

.blue {
	color: #486BB8;
}

#content-profile {
	height: 40px;
	font-size: 0.85em;
}

#content-title {
	padding-left: 20px;
}

#content-name {
	padding-left: 20px;
	float: left;
	width: 70px;
}

#content-date {
	float: left;
	width: 120px;
	padding-left: 20px;
}

#content-readcount {
	float: left;
	width: 707px;
	padding-left: 20px;
}

#content-content {
	padding: 20px;
}

#cmt-name {
	float: left;
	padding-left: 10px;
	width: 70px;
	font-weight: bold;
}

#cmt-comment {
	float: left;
	padding-left: 10px;
	width: 700px;
	height: 50px;
	font-size: 1.1em;
	resize: none;
}

#cmt-date {
	float: left;
	width: 120px;
	height: 30px;
	margin-top: -1px;
}

.btn-cmt {
	float: left;
	width: 150px;
}

.btn-cmt .edit {
	font-size: 1em;
	float: left;
	width: 60px;
	margin-left: 10px;
}

.btn-cmt .delete {
	font-size: 1em;
	float: left;
	width: 60px;
	margin-left: 0px;
}