@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.board-container {
	padding: 20px;
	width: 1000px;
	margin: -20px auto;
	height: 500px;
}

.board-container .page-header {
	width: 900px;
	margin: 20px;
}

.board-container small {
	font-size: 0.9em;
	font-weight: bold;
}

.board-container strong {
	text-align: left;
	margin: 20px;
}

.board-container .table {
	height: 330px;
	padding: 5px;
	font-size: 1.2em;
	border: 0px;
	margin: 20px;
}

.board-container td {
	clear: both;
	display: inline-block;
}

.board-container .btns {
	margin: -45px 35px;
	float: right;
}

.board-container .divider {
	width: 230px;
	height: 4px;
	background: #486BB8;
	margin-left: 15px;
	margin-top: -11px;
}

.blue {
	color: #486BB8;
}