@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	position: relative;
	left: 0;
	top: 0;
	overflow-y: scroll;
}

.blue {
	color: #486BB8;
}

.listContainer {
	width: 1000px;
	height: auto;
	margin: 30px auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
	font-size: 1.2em;
}

.listContainer .divider {
	width: 220px;
	height: 5px;
	background-color: #486BB8;
	margin-top: -10px;
}

.listContainer .page-header small {
	position: relative;
	top: 5px;
}

.listContainer .searchTable #search {
	width: 90%;
	padding: 10px;
	margin-top: 0px;
	float: left;
	font-size: 1em;
}

.listContainer .searchTable .submitBtn {
	width: 35px;
	height: 35px;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	background-color: #486BB8;
	color: #EEE;
}

.listContainer .listTable th, .listContainer .listTable td {
	text-align: center;
	height: 45px;
}

.listContainer .listTable th {
	background-color: #EEE;
}

.listContainer .page-bar {
	text-align: right;
}

.listContainer .writeBtn {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 20px;
}