@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.list-container {
	padding: 20px;
	width: 1000px;
	margin: 30px auto;

}

.list-container .page-header {
	text-align: center;
}

.list-container .table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 1.2em;
	border-bottom: 1px solid #CCC;
}

.list-container th {
	background-color: #EEE;
	width: 150px;
	margin: 20px;
	height: 45px;
	text-align: center;
}

.list-container td {
	text-align: left;
	margin-left: 20px;
	min-width: 300px;
}

.list-container .btns {
	margin-top: 10px;
	float: right;
}

.list-container .btn-address {
	margin-bottom: 10px;
}

.list-container .red {
	margin-left: 3px;
	color: red;
}

.list-container .well {
	float: left;
	width: 70%;
}

.list-container input[type="text"] {
	width: 300px;
	margin-left: 10px;
}

.list-container input[type="number"] {
	text-align: center;
	width: 100px;
}

.list-container input[type="file"] {
	width: 300px;
	margin-bottom: 10px;
}