@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.detail-container {
	padding: 20px;
	width: 1000px;
	margin: 30px auto;
	height: 800px;
}

.detail-container .page-header {
	width: 1000px;
	text-align: center;
}

.detail-container .page-header h1 {
	font-size: 2.4em;
	text-align: center;
}

.detail-container .page-header b {
	font-size: 1.1em;
	text-align: center;
}

.detail-container .page-header small {
			font-size: 0.8em;
			text-align: center;
			float: none;
		}

.detail-container .table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 1.2em;
	border-bottom: 1px solid #CCC;
}

.detail-container th {
	background-color: #EEE;
	width: 12%;
	margin: 20px;
	height: 45px;
	text-align: center;
}

.detail-container td {
	width: 16%;
	text-align: left;
}

.head-container {
	width: 900px;
	height: 250px;
	margin: 10px auto;
}

#head-img {
	text-align: center;
}

#head-img img {
	/* height: 240px; */
	width: 100vh;
}

#head-title {
	height: 40px;
	font-size: 2em;
}

#head-content {
	height: 110px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: scroll;
	font-size: 1.2em;
}

#btn-detail1 {
	float: left;
	margin-top: 10px;
	width: 200px;
	font-size: 1.2em;
	outline: none;
}

#btn-detail1 #btn-heart {
	color: #444;
}

#btn-detail1 #btn-heart:hover {
	color: red;
	opacity: 0.7;
}

#btn-detail2 {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
	width: 120px;
	font-size: 1.2em;
}

#btn-detail2 button {
	border: 0;
	color: red;
}

#btn-back {
	float: right;
}