@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

#maincontainer {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

#maincontainer .mainheader .well {
	outline: none;
}

/* main-header 시작 */
#maincontainer .mainheader {
	text-align: center;
	margin-top: 30px;
	height: 50vh;
	background: url(/images/bg.jpg) center;
	background-size: cover;
	width: 100%;
	opacity: 1;
}

/* 어떤 방에 살고 ~~ 텍스트 */
#maincontainer .mainheader .headertxt {
	font-weight: bold;
	margin: 100px;
	padding-top: 30px;
	font-size: 3em;
}

/* 검색 버튼 */
#maincontainer .mainheader #searchbtn {
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	padding: 3px;
	font-size: 1em;
	background-color: #486BB8;
	color: #EEE;
	outline: none;
	border-radius: 50%;
}

#maincontainer .mainheader #searchbtn:hover {
	background: none;
	border: 3px solid #486BB8;
}

/* mainhistory(방금 올라온 매물, 찜한 매물) 시작 */
#maincontainer .mainhistory {
	width: 100%;
	height: 48vh;
	margin: 10px auto;
	text-align: center;
}

#maincontainer .mainhistory .newBadge {
	position: relative;
	top: -10px;
}

#maincontainer .mainhistory .newsTable {
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
}

#maincontainer .mainhistory th {
	font-size: 1.3em;
	height: 40px;
	background-color: #EEE;
}

#maincontainer .mainhistory td {
	height: 30px;
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
}

#maincontainer .mainhistory a {
	color: #000;
}

#maincontainer .mainhistory a:hover {
	color: #486BB8;
	text-decoration-line: none;
}

/* 사진 */
#maincontainer .mainhistory .thumbnail {
	height: 100px;
}

#maincontainer .mainhistory small, #maincontainer .mainnotice small {
	margin-right: 20px;
	float: right;
	font-size: 0.9em;
}

/* mainnotice 시작 */
#maincontainer .mainnotice {
	width: 100%;
	height: 40vh;
	margin: 5px auto;
}

#maincontainer .mainnotice .noticeTable {
	display: inline-block;
	margin-left: 20px;
	margin-right: 15px;
	width: 350px;
	height: 350px;
}

#maincontainer .mainnotice .noticeTable .box {
	width: 340px;
	height: 200px;
	overflow: hidden;
}

#maincontainer .mainnotice .noticeTable .box #innerbox {
	width: 340px;
}

#maincontainer .mainnotice .noticeTable .thumbnail {
	height: 100%;
	margin: 0px auto;
}

#maincontainer .mainnotice th {
	width: 30%;
	margin-left: 10px;
	font-size: 1.3em;
	border: 0px;
	text-align: center;
}

#maincontainer .mainnotice td {
	margin-left: 10px;
	font-size: 1.1em;
	text-align: center;
}

#maincontainer .mainnotice a {
	color: #000;
}

#maincontainer .mainnotice a:hover {
	color: #486BB8;
	text-decoration-line: none;
}

.bluebg {
	background-color: #486BB8;
	color: #EEE;
}