@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

small {
	float: right;
}

/* main-header 시작 */
.main-header {
	border: 2px solid slategrey;
	text-align: center;
	height: 350px;
}

.main-header .main-txt {
	margin: 60px;
	font-size: 1.9em;
}

.main-header .main-search {
	height: 1.7em;
	outline: none;
}

/* main-history 시작 */
section {
	margin: 30px auto;
	/* border: 3px solid slategrey; */
	height: 280px;
}

section:nth-child(3) {
	border: 2px solid slategrey;
}

.main-history {
	width: 45%;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.main-history table {
	margin-left: auto;
	margin-right: auto;
}

.main-history td {
	text-align: center;
}

.main-history-img {
	height: 100px;
}

/* main-notice 시작 */
.main-notice {
	padding: 20px;
	margin-left: 10px;
	float: left;
	width: 28%;
	height: 84%;
	border-right: 1px solid slategrey;
}

.main-notice:nth-child(3) {
	border-right: transparent;
}

.main-notice h2 {
	font-size: 1.3em;
}

.main-notice small {
	font-size: 0.7em;
}

.main-notice .notice1 {
	border: 1px solid slategrey;
	padding: 10px;
}

.main-notice ul li {
	padding: 5px;
}