@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.info-container {
	padding: 20px;
	width: 1000px;
	margin: 30px auto;
	height: 600px;
}

.info-container .page-header {
	text-align: center;
}

.info-container #changeinfo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 1.2em;
	border-bottom: 1px solid #CCC;
}

.info-container #changeinfo th {
	width: 20%;
	margin: 20px;
	height: 45px;
	text-align: center;
}

.info-container #changeinfo td {
	width: 80%;
	text-align: left;
	margin-left: 20px;
}

.info-container .btns {
	float: right;
}

.list-container {
	padding: 20px;
	width: 1000px;
	margin: 30px auto;
	height: 1000px;
}

.list-container .page-header {
	text-align: center;
}

.myinfo-container {
	width: 900px;
	height: 150px;
	margin: 20px auto;;
	padding: 20px;
	border: 0;
}

.tabs-myinfo {
	width: 900px;
	margin: 20px auto;
}

.tabs-myinfo a {
	color: #777;
}

.tabs-myinfo a:hover {
	color: #3B79BC;
}

#myinfo td {
	margin-top: 30px;
	height: 50px;
	border: 0;
	font-size: 1.3em;
}

#myinfo td:first-child {
	width: 300px;
}

#tbl-post, #tblcomment, #tblreview {
	width: 900px;
	margin: 10px auto;
}

#tbl-post th, #tblreview th {
	font-size: 1.1em;
	text-align: center;
	height: 30px;
}

#tbl-post td, #tblreview td {
	text-align: center;
	padding-top: 10px;
	height: 60px;
}

#tbl-post tr th:first-child, #tbl-post tr td:first-child {
	width: 60px;
	cursor: pointer;
}

#tblcomment tr td:first-child {
	width: 60px;
	cursor: pointer;
	text-align: center;
}

#tbl-post tr th:nth-child(2), #tbl-post tr td:nth-child(2) {
	width: 60px;
	cursor: pointer;
}

#tblcomment tr td:last-child {
	width: 840px;
	cursor: pointer;
}

#tbl-post tr th:nth-child(3) {
	width: 720px;
}

#tbl-post tr td:nth-child(3) {
	width: 720px;
	text-align: left;
	padding-left: 20px;
	cursor: pointer;
}

#tbl-post tr th:nth-child(4), #tbl-post tr td:nth-child(4) {
	width: 100px;
}

#tbl-post tr th:last-child, #tbl-post tr td:last-child {
	width: 60px;
}

/* 희망입주조건을 목록으로 출력하기 위한 CSS 시작*/
#tbl-post .tbody-hope>tr>th:nth-child(n), #tbl-post .tbody-hope>tr>td:nth-child(n)
	{
	vertical-align: middle;
}

#tbl-post .tbody-hope tr th:nth-child(1), #tbl-post .tbody-hope tr td:nth-child(1)
	{
	width: 40px;
}

#tbl-post .tbody-hope tr th:nth-child(2), #tbl-post .tbody-hope tr td:nth-child(2)
	{
	width: 40px;
}

#tbl-post .tbody-hope tr th:nth-child(3), #tbl-post .tbody-hope tr td:nth-child(3)
	{
	width: 300px;
}

#tbl-post .tbody-hope tr th:nth-child(4), #tbl-post .tbody-hope tr td:nth-child(4)
	{
	width: 40px;
}

#tbl-post .tbody-hope tr th:nth-child(5), #tbl-post .tbody-hope tr td:nth-child(5)
	{
	width: 40px;
}

/* 희망입주조건 css 끝*/
.post-content, .post-type, .review-content {
	font-size: 1.1em;
	color: grey;
	margin-top: 5px;
}

.post-title, .review-title {
	font-size: 1.2em;
}

.post-date, .post-readcount, .review-date {
	font-size: 1.0em;
}

.cmt-date {
	font-size: 1.1em;
	color: grey;
	text-align: left;
	margin-left: 20px;
}

.cmt-content {
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 1.2em;
}

.cmt-title {
	font-size: 1.1em;
	color: grey;
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
}

#btn-post, #btn-comment, #btn-review {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

#btn-post .btn, #btn-comment, .btn, #btn-review .btn {
	font-size: 13px;
}

.page-bar {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}